* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

/* Ensuring html and body take up the full height of the viewport */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('https://cdn.shopify.com/s/files/1/0625/3818/6989/files/1_07e7770a-7a1a-4dfe-83be-b502b2d47d57.jpg?v=1677310581') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading {
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center content horizontally */
    position: relative;
}

.heading p {
    font-size: 23px;
}

.arrow {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 50%;
    animation: bounce 2s infinite;
    bottom: 20px;
    transition: transform 0.8s ease-in-out;
}

.down-arrow {
    bottom: 20px;
}

.up-arrow {
    top: 20px;
    bottom:auto;
    color:white;
}
.arrow:hover{
    color: green;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    text-align: center;
    background-color: black;
    color: white; /* Ensure text is visible */
    font-family: 'Rubik', sans-serif;
    position: relative;
    overflow: hidden; /* Hide overflow if needed */
}

.form-container {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add some space below the form */
    border:10px ridge green;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="name"],
form input[type="date"],
form input[type="number"],
form input[type="email"],
form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
    height:50px;
    border:none;
    outline:none;
    background-color: lime;
    color:black;
}
form input[type="submit"]{
    height:25px;
    border-radius: 15px;
    cursor:pointer;
    border:none;
    outline:none;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;  
}
form input[type="submit"]:hover{
  background-color: lime;
}
input::placeholder{
    color:black;
}
.heading a{
    text-decoration: none;
    color: white;
    margin: 0 10px; /* Space between links */
    padding: 5px;
    font-size: 18px;
    /* Optional: Add some styling for hover effect */
    transition: color 0.3s ease;
    margin-top:20px;
}
.heading a:hover{
    color:green;
}
